* {
    box-sizing: border-box;

}

body{
    width: 100vw;
    height: 100vh;
}

.box1{
    background-color: red;
    width: 75vw;
    height: 35vh;
}

.box2{
    background-color: rgb(216, 142, 30);
    width: 75vw;
    height: 35vh;
}
.box3{
    background-color: rgb(240, 218, 25);
    width: 25vw;
    height: 70vh;
}

.header-box, .footer-box{
    background-color: #8a8383;
    width: 100vw;
    height: 13vh;
}


.cont1{
    display: flex;
    margin: 2vh 0vw 2vh 0vw;
}


/* smartphones, Android phones, landscape iPhone */ 
@media only screen and (max-width:480px) {
    .cont1{
        display: flex;
        flex-direction: column;
    }
    #box1, #box2, #box3{
        width: 100vw;
        height: 23vh;
    }
    .footer-box, .header-box{
        height: 13.5vh;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media only screen and (max-width:801px){
    .box1, .box2, .box3{
        width: 50vw;
    }
    
}

